<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

<title>Document</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg" style="background-color: #c3f0f7;" >
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> 
			<img th:src="@{/images/sslogo.jpg}"  src="../static/images/sslogo.jpg"
				width="auto" height="40" class="d-inline-block align-top" alt="" />
			</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
<h4>SS E-commerce</h4>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">Shop</a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">Cart</a>
                    
                </li>
                <li class="nav-item active">
                    <span class="navbar-brand" th:text="${cartCount}">0</span>
                </li>
                <li class="nav-item active"><a class="btn btn-outline-primary"
							sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a></li>					
						<!-- <li class="nav-item active"><a class="navbar-brand"
							sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a></li> -->
						
						<li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" sec:authentication="name">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <a class="pl-3" th:href="@{/password}">Passwor</a> -->
                <!-- <div class="dropdown-divider"></div> -->
                <a class="pl-3" th:href="@{/logout}">Logout</a>    
            </div>
            <!-- <div th:if="${param.logout}"><p class="text-warning">you have been Logged Out.</p></div> -->
        </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container">  
<div class="row" >
<div class="col-md-4 col-md-4">
<a href="" class="btn btn" ><h2>Get details</h2></a>

<table class="table table-bordered">
<thead>
    <tr>
                <th scope="col"><font color="blue" size="3">Sno</th>
                <th scope="col"><font color="blue" size="3">ProductId</th>
                <th scope="col"><font color="blue" size="3">ProductName</th>
                <th scope="col"><font color="blue" size="3">Status</font>
                <th scope="col"><font color="blue" size="3">OrderDate</th>
                <th scope="col"><font color="blue" size="3">UserId</th>
                <th scope="col"><font color="blue" size="3">Email</th>
                <th scope="col"><font color="blue" size="3">price</th>
                <th scope="col"><font color="blue" size="3">weight</font></th>
                <th scope="col"><font color="blue" size="3">description</th>
                <th scope="col"><font color="blue" size="3">ImageName</th>
                <th scope="col"><font color="blue" size="3">categoryId</th>
                
                
                
  </tr>
</thead>
   <tbody>
                  <tr th:each="receipt, obj:${receipt}">
                  <th scope="row" th:text="${obj.index+1}">1</th>
                  <td th:text="${receipt.ProductId}"></td>
                  <td th:text="${receipt.name}"></td>
                  <td th:text="${receipt.Confirm}" style="color:#ed07f5"></td>
                  <td th:text="${receipt.OrderDate}"></td>
                  <td th:text="${receipt.user}"></td>   
                  <td th:text="${receipt.email}"></td>
                  <td th:text="${receipt.price}"></td>
                  <td th:text="${receipt.weight}"></td>
                  <td th:text="${receipt.description}">
                  <td th:text="${receipt.imageName}"></td>
                  <td th:text="${receipt.category}"></td>             
                  </tr>
                
  </tbody>
</table>
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>